<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.AddressMapper">

    <resultMap id="Address" type="address">
        <id column="address_id" property="addressId"/>
        <result column="address_name" property="addressName"/>
        <result column="address_created_time" property="addressCreatedTime"/>
        <result column="address_flag" property="addressFlag"/>
    </resultMap>

    <select id="getAddressList" parameterType="page" resultMap="Address">
        select * from address
        where address_flag = 1
        <if test="params != null">
            <if test="params.addressName != null and params.addressName != ''">
                and address_name like '%${params.addressName}%'
            </if>
        </if>
        order by address_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getAddressCount" parameterType="page" resultType="Integer">
        select count(*) from address
        where address_flag = 1
        <if test="params != null">
            <if test="params.addressName != null and params.addressName != ''">
                and address_name like '%${params.addressName}%'
            </if>
        </if>
    </select>

    <insert id="addAddress" parameterType="address">
        insert into address values
        (
          #{addressId}, #{addressName},
          #{addressCreatedTime}, #{addressFlag}
        )
    </insert>

    <update id="editAddress" parameterType="address">
        update address set
        address_name = #{addressName}
        where address_id = #{addressId}
    </update>

    <update id="deleteAddressById">
        update address set
        address_flag = 2
        where address_id = #{values }
    </update>

    <select id="getAddressById" resultMap="Address">
        select * from address
        where address_flag = 1
        and address_id = #{value}
    </select>

    <select id="getAllAddressList" resultMap="Address">
        select * from address
        where address_flag = 1
    </select>


    <insert id="addStaffAddress" parameterType="map">
        insert into staff_address values
        (
          #{staffAddId}, #{staffId}, #{addressId}
        )
    </insert>

    <select id="getAddressListByStaff" parameterType="staff" resultMap="Address">
        select * from address a INNER JOIN
        staff_address sa
        on a.address_id = sa.address_id
        WHERE a.address_flag = 1
        and sa.staff_id = #{staffId}
    </select>

    <select id="getAddressByStaffAndAddress" resultMap="Address">
        select * from address a INNER JOIN
        staff_address sa
        on a.address_id = sa.address_id
        WHERE a.address_flag = 1
        and sa.staff_id = #{0}
        and sa.address_id = #{1}
    </select>

</mapper>
