<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.FruitMapper">

    <resultMap id="Fruit" type="fruit">
        <id column="fruit_id" property="fruitId"/>
        <result column="fruit_name" property="fruitName"/>
        <result column="fruit_created_time" property="fruitCreatedTime"/>
        <result column="fruit_price" property="fruitPrice"/>
        <result column="fruit_num" property="fruitNum"/>
        <result column="fruit_flag" property="fruitFlag"/>
        <association property="staff" javaType="staff">
            <id column="staff_id" property="staffId"/>
            <result column="staff_name" property="staffName"/>
            <result column="staff_account" property="staffAccount"/>
            <result column="staff_password" property="staffPassword"/>
            <result column="staff_birth" property="staffBirth"/>
            <result column="staff_sex" property="staffSex"/>
            <result column="staff_age" property="staffAge"/>
            <result column="staff_telephone" property="staffTelephone"/>
            <result column="staff_role" property="staffRole"/>
            <result column="staff_flag" property="staffFlag"/>
        </association>
    </resultMap>

    <insert id="addFruit" parameterType="fruit">
        insert into fruit values
        (
          #{fruitId}, #{fruitName}, #{fruitCreatedTime},
          #{staff.staffId}, #{fruitPrice},
          #{fruitNum}, #{fruitFlag}
        )
    </insert>

    <select id="getFruitList" parameterType="page" resultMap="Fruit">
        select * from fruit left join staff
        on staff_id = fruit_created_staff
        where fruit_flag = 1
        <if test="params != null">
            <if test="params.fruitName != null and params.fruitName != ''">
                and fruit_name like '%${params.fruitName}%'
            </if>
        </if>
        order by fruit_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getFruitCount" parameterType="page" resultType="Integer">
        select count(fruit_id) from fruit left join staff
        on staff_id = fruit_created_staff
        where fruit_flag = 1
        <if test="params != null">
            <if test="params.fruitName != null and params.fruitName != ''">
                and fruit_name like '%${params.fruitName}%'
            </if>
        </if>
    </select>

    <update id="deleteFruitById">
        update fruit set
        fruit_flag = 2
        where fruit_id = #{value}
    </update>

    <update id="editFruit" parameterType="Fruit">
        update fruit set
        fruit_created_time = #{fruitCreatedTime}
        <if test="fruitName != null and fruitName != ''">
            ,fruit_name = #{fruitName}
        </if>
        <if test="fruitPrice != null and fruitPrice != ''">
            ,fruit_price = #{fruitPrice}
        </if>
        <if test="fruitNum != null and fruitNum != ''">
            ,fruit_num = #{fruitNum}
        </if>
        <if test="staff != null">
            ,fruit_created_staff = #{staff.staffId}
        </if>

        where fruit_id = #{fruitId}
    </update>

    <select id="getFruitById" resultMap="Fruit">
        select * from fruit
        where fruit_flag = 1
        and fruit_id = #{value}
    </select>

    <select id="getFruitFromCartByFruitId" parameterType="fruit" resultMap="Fruit">
        select * from fruit f, cart c, fruit_cart fc
        where f.fruit_id = fc.fruit_id
        and c.cart_id = fc.cart_id
        and f.fruit_id = #{fruitId}
        and c.cart_staff = #{staff.staffId}
    </select>

    <select id="getAllFruitById" resultMap="Fruit">
      select * from fruit
      where fruit_flag = 1
    </select>

</mapper>
