<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.OrderMapper">

    <resultMap id="Order" type="order">
        <id column="order_id" property="orderId" />
        <result column="order_created_time" property="orderCreatedTime" />
        <result column="order_price" property="orderPrice" />
        <result column="order_flag" property="orderFlag" />
        <association property="staff" javaType="staff">
            <id column="staff_id" property="staffId"/>
            <result column="staff_name" property="staffName"/>
            <result column="staff_account" property="staffAccount"/>
            <result column="staff_password" property="staffPassword"/>
            <result column="staff_birth" property="staffBirth"/>
            <result column="staff_sex" property="staffSex"/>
            <result column="staff_age" property="staffAge"/>
            <result column="staff_telephone" property="staffTelephone"/>
            <result column="staff_role" property="staffRole"/>
            <result column="staff_flag" property="staffFlag"/>
        </association>
        <association property="courier" javaType="staff">
            <id column="staff_id" property="staffId"/>
            <result column="staff_name" property="staffName"/>
            <result column="staff_account" property="staffAccount"/>
            <result column="staff_password" property="staffPassword"/>
            <result column="staff_birth" property="staffBirth"/>
            <result column="staff_sex" property="staffSex"/>
            <result column="staff_age" property="staffAge"/>
            <result column="staff_telephone" property="staffTelephone"/>
            <result column="staff_role" property="staffRole"/>
            <result column="staff_flag" property="staffFlag"/>
        </association>
        <association property="address" javaType="address">
            <id column="address_id" property="addressId" />
            <result column="address_name" property="addressName" />
            <result column="address_flag" property="addressFlag" />
        </association>
        <collection property="fruitList" ofType="fruit">
            <id column="fruit_id" property="fruitId"/>
            <result column="fruit_name" property="fruitName"/>
            <result column="fruit_created_time" property="fruitCreatedTime"/>
            <result column="fruit_price" property="fruitPrice"/>
            <result column="fruit_flag" property="fruitFlag"/>
        </collection>
    </resultMap>


    <insert id="addOrderNotCourier" parameterType="order">
        insert into orders
        (order_id, order_created_time, order_staff, order_price,
        order_add, order_flag) values
        (
          #{orderId}, #{orderCreatedTime}, #{staff.staffId},
          #{orderPrice}, #{address.addressId}, #{orderFlag}
        )
    </insert>

    <insert id="addFruitInOrder" parameterType="map">
        insert into fruit_order values
        (
        #{fruitOrderId}, #{fruitId}, #{orderId}, #{fruitNum}
        )
    </insert>

    <select id="getOrderList" parameterType="page" resultMap="Order">
        select * from fruit f, fruit_order fo, staff staff, address a, orders o
        left join staff courier on o.order_courier = courier.staff_id
        where f.fruit_id = fo.fruit_id
        and o.order_id = fo.order_id
        and staff.staff_id = o.order_staff
        and a.address_id = o.order_add
        and o.order_flag != 2
        <if test="params != null">
            <if test="params.staff != null">
                and o.order_staff = #{params.staff.staffId}
            </if>
            <if test="params.flag != null and params.flag != ''">
                and o.order_flag = #{params.flag}
            </if>
            <if test="params.courier != null">
                and o.order_courier = #{params.courier.staffId}
            </if>
        </if>
        order by o.order_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getOrderById" parameterType="page" resultMap="Order">
        select * from fruit f, fruit_order fo, staff staff, address a, orders o
        left join staff courier on o.order_courier = courier.staff_id
        where f.fruit_id = fo.fruit_id
        and o.order_id = fo.order_id
        and staff.staff_id = o.order_staff
        and a.address_id = o.order_add
        and o.order_flag != 2
        and o.order_id = #{value}
    </select>

    <select id="getOrderCount" parameterType="page" resultType="Integer">
        select count(o.order_id) from staff staff, address a, orders o
        left join staff courier on o.order_courier = courier.staff_id
        where staff.staff_id = o.order_staff
        and a.address_id = o.order_add
        and o.order_flag != 2
        <if test="params != null">
            <if test="params.staff != null">
                and o.order_staff = #{params.staff.staffId}
            </if>
            <if test="params.flag != null and params.flag != ''">
                and o.order_flag = #{params.flag}
            </if>
            <if test="params.courier != null">
                and o.order_courier = #{params.courier.staffId}
            </if>
        </if>
    </select>

    <update id="deleteOrderById">
        update orders set
        order_flag = 2
        where order_id = #{value}
    </update>

    <update id="placeOrderById">
        update orders set
        order_flag = 3
        where order_id = #{value}
    </update>

    <update id="deliver">
        update orders set
        order_flag = 4
        where order_id = #{value}
    </update>

    <update id="collect">
        update orders set
        order_flag = 5
        where order_id = #{value}
    </update>

    <select id="getCourierByOrderId" parameterType="order" resultType="String">
        select order_courier from orders
        where order_id = #{value}
    </select>

    <update id="addCourier" parameterType="order">
        update orders set
        order_courier = #{courier.staffId}
        where order_id = #{orderId}
    </update>

    <select id="getFruitNumByFruitIdAndOrderId" resultType="Integer">
        select fruit_num from fruit_order
        where fruit_id = #{0} and order_id = #{1}
    </select>

</mapper>
