<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fruit.mapper.SaleMapper">

    <resultMap id="Sale" type="sale">
        <id column="sale_id" property="saleId" />
        <result column="sale_created_time" property="saleCreatedTime" />
        <result column="sale_num" property="saleNum" />
        <result column="sale_flag" property="saleFlag" />
        <association property="fruit" javaType="fruit">
            <id column="fruit_id" property="fruitId"/>
            <result column="fruit_name" property="fruitName"/>
            <result column="fruit_created_time" property="fruitCreatedTime"/>
            <result column="fruit_price" property="fruitPrice"/>
        </association>
    </resultMap>

    <insert id="addSale" parameterType="sale">
        insert into sale values
        (
          #{saleId}, #{fruit.fruitId},
          #{saleCreatedTime}, #{saleNum}, #{saleFlag}
        )
    </insert>

    <select id="getSaleList" parameterType="page" resultMap="Sale">
        select * from sale
        left join fruit on fruit_id = sale_fruit
        where sale_flag = 1
        <if test="params != null">
            <if test="params.fruitName != null and params.fruitName != null">
                and fruit_name like '%${params.fruitName}%'
            </if>
        </if>
        order by sale_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getSaleCount" parameterType="page" resultType="Integer">
        select count(*) from sale
        left join fruit on fruit_id = sale_fruit
        where sale_flag = 1
        <if test="params != null">
            <if test="params.fruitName != null and params.fruitName != null">
                and fruit_name like '%${params.fruitName}%'
            </if>
        </if>
    </select>

    <update id="deleteSaleById">
        update sale set
        sale_flag = 2
        where sale_id = #{value}
    </update>

    <select id="getAllSale" resultMap="Sale">
        SELECT
            f.fruit_name fruit_name,
            sum(s.sale_num) sale_num
        FROM
            sale s
        INNER JOIN fruit f ON s.sale_fruit = f.fruit_id
        GROUP BY
            f.fruit_name
    </select>

    <select id="getSaleNum" resultType="Integer">
    SELECT sum(sale_num) from sale
    left join fruit on fruit_id = sale_fruit
    where sale_flag = 1
    </select>


</mapper>
