<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.fruit.mapper.CartMapper">

    <resultMap id="Cart" type="cart">
        <id column="cart_id" property="cartId" />
        <result column="cart_created_time" property="cartCreatedTime" />
        <result column="cart_flag" property="cartFlag" />
        <association property="staff" javaType="staff">
            <id column="staff_id" property="staffId"/>
            <result column="staff_name" property="staffName"/>
            <result column="staff_account" property="staffAccount"/>
            <result column="staff_password" property="staffPassword"/>
            <result column="staff_birth" property="staffBirth"/>
            <result column="staff_sex" property="staffSex"/>
            <result column="staff_age" property="staffAge"/>
            <result column="staff_telephone" property="staffTelephone"/>
            <result column="staff_role" property="staffRole"/>
            <result column="staff_flag" property="staffFlag"/>
        </association>
        <collection property="fruitList" ofType="fruit">
            <id column="fruit_id" property="fruitId"/>
            <result column="fruit_name" property="fruitName"/>
            <result column="fruit_created_time" property="fruitCreatedTime"/>
            <result column="fruit_price" property="fruitPrice"/>
            <result column="fruit_num" property="fruitNum"/>
            <result column="fruit_flag" property="fruitFlag"/>
        </collection>
    </resultMap>

    <select id="getCartByStaff" parameterType="staff" resultMap="Cart">
        select * from cart
        where cart_staff = #{staffId}
        and cart_flag = 1
    </select>

    <insert id="creatCart" parameterType="cart">
        insert into cart values
        (
          #{cartId}, #{staff.staffId},
          #{cartCreatedTime}, #{cartFlag}
        )
    </insert>

    <insert id="addCart" parameterType="map">
        insert into fruit_cart values
        (
          #{fruitCartId}, #{fruitId},
          #{cartId}, #{fruitNum}
        )
    </insert>

    <select id="getCartList" parameterType="staff" resultMap="Cart">
        select
        c.cart_id ,f.fruit_id, f.fruit_name, f.fruit_price,
        fc.fruit_num
        from cart c,fruit f,fruit_cart fc
        where c.cart_id = fc.cart_id
        and f.fruit_id = fc.fruit_id
        and c.cart_staff = #{staffId}
        and c.cart_flag = 1
    </select>

    <delete id="deleteFromCart">
        delete from fruit_cart
        where fruit_id = #{0}
        and cart_id = #{1}
    </delete>

</mapper>
