<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.fruit.mapper.CommentMapper">

    <resultMap id="Comment" type="comment">
        <id column="comment_id" property="commentId" />
        <result column="comment_article" property="commentArticle" />
        <result column="comment_created_time" property="commentCreatedTime" />
        <result column="comment_flag" property="commentFlag" />
        <association property="staff" javaType="staff">
            <id column="staff_id" property="staffId"/>
            <result column="staff_name" property="staffName"/>
            <result column="staff_account" property="staffAccount"/>
            <result column="staff_password" property="staffPassword"/>
            <result column="staff_birth" property="staffBirth"/>
            <result column="staff_sex" property="staffSex"/>
            <result column="staff_age" property="staffAge"/>
            <result column="staff_telephone" property="staffTelephone"/>
            <result column="staff_role" property="staffRole"/>
            <result column="staff_flag" property="staffFlag"/>
        </association>
    </resultMap>

    <select id="getCommentList" parameterType="page" resultMap="Comment">
        select * from comment c, staff s
        where c.comment_flag = 1
        and c.comment_staff = s.staff_id
        order by comment_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getCommentCount" parameterType="page" resultType="Integer">
        select count(*) from comment c, staff s
        where c.comment_flag = 1
        and c.comment_staff = s.staff_id
    </select>

    <insert id="addComment" parameterType="comment">
        insert into comment
        (
          comment_id, comment_staff, comment_article,
          comment_created_time, comment_flag
        )
         values
        (
          #{commentId}, #{staff.staffId}, #{commentArticle},
          #{commentCreatedTime}, #{commentFlag}
        )
    </insert>

    <update id="deleteCommentById">
        update comment set
        comment_flag = 2
        where comment_id = #{value}
    </update>

</mapper>
