<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.fruit.mapper.HistoryMapper">

    <resultMap id="History" type="history">
        <id column="history_id" property="historyId" />
        <result column="history_created_time" property="historyCreatedTime" />
        <result column="history_price" property="historyPrice" />
        <result column="history_flag" property="historyFlag" />
        <result column="history_delete" property="historyDelete" />
        <association property="action" javaType="action">
            <id column="action_id" property="actionId" />
            <result column="action_name" property="actionName" />
        </association>
    </resultMap>

    <insert id="addHistory" parameterType="history">
        insert into history values
        (
          #{historyId}, #{historyCreatedTime}, #{historyPrice},
          #{action.actionId}, #{historyFlag}, #{historyDelete}
        )
    </insert>

    <update id="pay">
        update history set
        history_price = history_price - #{value}
        where history_id = 'admin'
    </update>

</mapper>
